/* General styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px;
	background-color: #f4f4f4;
}

h1, h2 {
	color: #333;
}

button {
	padding: 10px 20px;
	margin: 10px 0;
	border: none;
	background-color: #007BFF;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	white-space: nowrap; /* Prevent button text from wrapping */
}

button:hover:not(:disabled) {
	background-color: #0056b3;
}

button:disabled {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

a {
	color: #007BFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#newUrlContainer {
	margin: 10px 0;
	font-weight: bold;
	color: #333;
}

h2 {
	margin-top: 20px;
}

/* Table styles */
table {
	width: 80%;
	border-collapse: collapse;
	margin: 10px 0;
	font-size: 16px;
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

td:first-child {
	width: 40px;
	text-align: center;
}

tr:hover {
	background-color: #e1e1e1;
	cursor: pointer;
}

.copy-emoji {
	cursor: pointer;
	font-size: 0.8em;
	line-height: 1.5em;
}

#logList .log-entry {
	margin-bottom: 15px;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: relative; /* Position for controls */
}

#logList .log-entry pre {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	background-color: #f4f4f4;
	padding: 5px;
	border-radius: 5px;
	white-space: pre-wrap; /* Ensures the text will wrap */
	word-wrap: break-word; /* Break long words */
	overflow-wrap: break-word; /* Break long words */
	overflow: hidden; /* Hide overflow */
}

#logList .log-entry p {
	margin: 5px 0;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.new-log {
	background-color: lightyellow;
}

.log-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
}

.log-controls .delete-log {
	cursor: pointer;
	color: red;
	font-size: 1.2em;
}

.log-controls .log-checkbox {
	margin-right: 5px;
}

#deleteControls {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000; /* Ensure the buttons stay on top */
	display: flex;
	gap: 10px;
}

#deleteSelectedLogs.fixed {
	position: fixed;
	top: 10px;
	right: 167px;
}

#urlName {
	cursor: pointer;
	text-decoration: underline;
}

#backToIndex {
	margin-right: 2em;
}

#header h1 {
	margin-bottom: 0.1em;
}

#guidContainer {
	color: gray;
	margin-bottom: 1em;
}